.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

Debug/
Release/
x64/
x86/
out/
build/

*.obj
*.o
*.pch
*.pdb
*.ipdb
*.iobj
*.idb
*.tlog
*.log
*.lastcodeanalysissucceeded
*.cache
*.VC.db
*.VC.opendb
*.ncb
*.aps
*.ilk
*.tmp
*.temp

*_i.c
*_p.c
*.dll
*.lib
*.exp
*.ilk
*.manifest
*.res
*.idb

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
CTestTestfile.cmake

*.exe

Thumbs.db
Desktop.ini

*.swp
*.swo

*.bak
*.orig
*.tmp
*.log